<div class="animated fadeIn container py-3 px-5">
  <h4 class="text-center mb-3">Excel copy/paste parser</h4>
  <textarea nz-input
            placeholder="Copy some table from excel file and paste it here"
            class="mb-3"
            [nzAutosize]="{ minRows: 2, maxRows: 8}"
            [(ngModel)]="value"
            (ngModelChange)="onChange($event)">
  </textarea>
  <div *ngIf="parsedValue" class="animated fadeIn">
    <p class="text-muted font-italic mb-0">
      Parsed values: rows {{parsedValue.length}}, max row length: {{maxColumns}}, min row length: {{minColumns}}
    </p>
    <nz-table #table
              nzBordered nzSize="small"
              nzHideOnSinglePage
              nzNoResult="No parsed data to display"
              [nzData]="parsedValue">
      <tbody>
      <tr *ngFor="let row of table.data">
        <td *ngFor="let item of row">{{item}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
